// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Company title font
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$pacifico-reg: 'Pacifico', cursive;

@mixin brand-font {
	font-family: $pacifico-reg;
}

// Font Mixins
@mixin body-font {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


// Circular Image Clip
@mixin clip-circle {
    clip-path: circle(50% at center);
}